.card{
    flex: 1;
    border-radius: 16px;
    background-color: gray;
    padding: 16px 32px;
    position: relative;
}

.card h4{
    font-size: 2rem;
}

.card h2{
    font-size: 4rem;
    margin-top: 16px;
}

.card p{
    font-size: 1.5rem;
    margin-top: 8px;
}

.card img{
    position: absolute;
    right: 24px;
    top: 24px;
}